<p id="notice"><%= notice %></p>

<h1>Students</h1>



<br>

<%= link_to 'New Student', new_student_path %>
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Gradyear</th>
      <th>Major</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |c| %>
       <tr>
        <td><%= link_to c.firstName, {:action => 'show', :id => c.firstName} -%></td>
        <td><%= link_to c.lastName%></td>
        <td><%= c.email %></td>
        <td><%= c.gradYear %></td>
        <td><%= c.major%></td>
        <td>
        <b> <%= link_to '<i class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>'.html_safe, {:action => "edit",
           :id => c.id} %></b> |
        <b> <%= link_to '<i class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Delete"></i>'.html_safe, method: :delete, data: { confirm: 'Are you sure?' } %></b> |
        <b> <%= link_to '<i class="fa fa-search fa-lg" aria-hidden="true" data-toggle="tooltip" title="View"></i>'.html_safe, {:action => "show",
           :id => c.id} %></b>
        </td>
       </tr>
       <% end %>
    <% if @students.blank? %>
        <tr>
            <td>There are not any books currently in the system.</td>
        </tr>

    <% end %>
        <tr>
            <td>
                <%= link_to '<span data-toggle="tooltip" title="Add New Book to Collection"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp;Add New Book</span>'.html_safe, {:action => 'new' }%>
            </td>
        </tr>
  </tbody>
</table>
<%= paginate @students %>

<div class="spacer"></div>
