<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @student.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @student.uin %>
</p>

<p>
  <strong>Graduation Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>GPA:</strong>
  <%= @student.gpa %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
