<% provide(:title, "(#{@books.count}) Book List") %>


<h1>Your Books</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">author</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |c| %>
       <tr>
        <td><%= link_to c.title, {:action => 'show', :id => c.id} -%></td>
        <td><%= link_to c.subject.name, :action => "show_subjects", :controller=>"subjects", :id => c.subject.id %></td>
        <td><%= c.price %></td>
        <td><%= c.author %></td>
        <td>
            <b> <%= link_to '<i class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>'.html_safe, {:action => "edit",
           :id => c.id} %></b> |
            <b> <%= link_to '<i class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Delete"></i>'.html_safe, {:action => 'delete', :id => c.id},
              :confirm => "Are you sure you want to delete this item?" %></b> |
            <b> <%= link_to '<i class="fa fa-search fa-lg" aria-hidden="true" data-toggle="tooltip" title="View"></i>'.html_safe, {:action => "show",
                       :id => c.id} %></b>
        </td>
       </tr>
       <% end %>
    <% if @books.blank? %>
        <tr>
            <td>There are not any books currently in the system.</td>
        </tr>

    <% end %>
        <tr>
            <td>
                <%= link_to '<span data-toggle="tooltip" title="Add New Book to Collection"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp;Add New Book</span>'.html_safe, {:action => 'new' }%>
            </td>
        </tr>
  </tbody>
</table>

<div class="spacer"></div>