<% provide(:title, "Add Book") %>

<h1>Add new book</h1>


<%= link_to 'Back', {:action => 'list'} %>
<hr />
<%= form_tag :action => 'create' do %>

<div class="form-group">
    <label for = "book_title">Title</label>:
    <%= text_field 'books', 'title', :id => "book_title", :class => "form-control", :placeholder => "Book Name" %>
</div>

<div class="form-group">
    <label for = "book_price">Price</label>:
    <%= text_field 'books', 'price', :id => "book_price", :class => "form-control", :placeholder => "Price" %>
</div>

<div class="form-group">
    <label for = "book_subject_id">Subject</label>:
    <%= collection_select(:books, :subject_id, @subjects, :id, :name, {:prompt=>true}, { :class => 'form-control' }) %></p>
</div>

<div class="form-group">
    <label for = "book_author">author</label>:
    <%= text_area 'books', 'author', :id => "book_author", :class => "form-control", :placeholder => "author of Book" %></p>
</div>

<%= submit_tag "Create", :class => "btn btn-info" %>

<% end -%>