<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/tamu-engr-logo.png" style="height: 10vh;"/>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul style="display: inline-block" class="nav navbar-nav">
          <li class="nav-item <%= "active" if params[:controller] == "Home" %>"><%= link_to "Welcome", welcome_path, :class => "nav-link" %></li>
          <li><a class="nav-link" data-toggle="modal" data-target="#aboutModal">About</a></li>
          <li class="nav-item <%= "active" if params[:controller] == "students" %>"><%= link_to "Students", students_path, :class => "nav-link" %></li>
          <li class="nav-item <%= "active" if params[:controller] == "events" %>"><%= link_to "Events", events_path, :class => "nav-link" %></li>
          <li><a class="nav-link" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
